### IDEA
*.iml
.idea/

### Build
target/

### vertx

.vertx/
sandbox/mqtt_samples/golo/vertx/
sandbox/mqtt_samples/groovy/vertx/
sandbox/coap_sample/golo/vertx/
sandbox/coap_sample/groovy/vertx/

### Nodejs

sandbox/mqtt_samples/nodejs/node_modules
sandbox/coap_samples/nodejs/node_modules

### Californium

sandbox/coap_samples/golo/Californium.properties
sandbox/coap_samples/groovy/Californium.properties

